<%- include('../partials/header') %>  
<!-- MAIN ACCORDION-->
<div class="accordion" id="eventsAccordion">
    <% events.forEach(e => { %>
      <div class="card text-center">
        <!-- HEADER -->
        <div class="card-header" id="heading<%= e._id %>">
            <button class="rounds-list btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapse<%= e._id %>" aria-expanded="true" aria-controls="collapse<%= e._id %>">
              <h3><%= e.courseName %> - <%= e.date.toLocaleDateString()%></h3>
            </button>
        </div>
        <!-- COLLAPSABLE PART-->
        <div class="container">
          <div id="collapse<%= e._id %>" class="collapse" aria-labelledby="heading<%= e._id %>" data-parent="#eventsAccordion">
            <div class="accordion" id="subAccordion<%= e._id %>">
              <!-- DETAILS ACCORDION -->
              <div class="card">
                <div class="card-header" id="detailsHeading<%= e._id %>">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#detailsCollapse<%= e._id %>" aria-expanded="true" aria-controls="detailsCollapse<%= e._id %>">
                      <h4>Details</h4>
                    </button>
                  </h2>
                </div>
                <div id="detailsCollapse<%= e._id %>" class="collapse" aria-labelledby="detailsHeading<%= e._id %>" data-parent="#subAccordion<%= e._id %>">
                  <div class="card-body">
                    <table class="table">
                      <tr>
                        <th scope="row">Date</td><td><%= e.date.toLocaleDateString() %></td>
                      </tr>
                      <tr>
                        <th scope="row">Time</td><td><%= e.date.toLocaleTimeString() %></td>
                      </tr>
                      <tr>
                        <th scope="row">Cost</td><td><%= e.cost %></td>
                      </tr>
                      <tr>
                        <th scope="row">Details</td><td><%= e.details %></td>
                      </tr>
                      <tr>
                        <th scope="row">Address</td><td><%= e.courseAddress %></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <!-- REGISTRATION ACCORDION -->
              <div class="card">
                <div class="card-header" id="registrationHeading<%= e._id %>">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#registrationCollapse<%= e._id %>" aria-expanded="true" aria-controls="registrationCollapse<%= e._id %>">
                      <h4>Registration</h4>
                    </button>
                  </h2>
                </div>
                <div id="registrationCollapse<%= e._id %>" class="collapse" aria-labelledby="registrationHeading<%= e._id %>" data-parent="#subAccordion<%= e._id %>">
                  <div class="card-body">
                    <% if (user.events.includes(e._id)) { %>
                      <p>You have committed to this round</p>
                      <form action="/users/<%= user._id %>/events/<%= e._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Bail</button>
                      </form>
                    <% } else { %>
                      <form action="/users/<%= user._id %>/events/<%= e._id %>" method="POST">
                        <p>You have not committed to this round</p>
                        <button type="submit" class="btn btn-success d-inline-block">Commit</button>
                      </form>
                    <% } %>
                  </div>
                </div>
              </div>
              
              <!-- SCORECARD ACCORDION -->
              <div class="card">
                <div class="card-header" id="scorecardHeading<%= e._id %>">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#scorecardCollapse<%= e._id %>" aria-expanded="true" aria-controls="scorecardCollapse<%= e._id %>">
                      <h4>Scorecard</h4>
                    </button>
                  </h2>
                </div>
                <div id="scorecardCollapse<%= e._id %>" class="collapse" aria-labelledby="scorecardHeading<%= e._id %>" data-parent="#subAccordion<%= e._id %>">
                  <div class="card-body">
                    <% if (user.rounds.some(r => r.event.equals(e._id))) { %>
                      <p>You have an incomplete scorecard</p>
                      <table id="small-scorecard">
                        <tr>
                          <th>1</th>
                          <th>2</th>
                          <th>3</th>
                          <th>4</th>
                          <th>5</th>
                          <th>6</th>
                          <th>7</th>
                          <th>8</th>
                          <th>9</th>
                        </tr>
                        <tr>                     
                          <th>10</th>
                          <th>11</th>
                          <th>12</th>
                          <th>13</th>
                          <th>14</th>
                          <th>15</th>
                          <th>16</th>
                          <th>17</th>
                          <th>18</th>
                        </tr>
                      </table>
                      <a class="btn btn-success d-inline-block" href="/users/<%= user._id %>/events/<%= e._id %>/rounds/<%= user.rounds[user.rounds.findIndex(r => r.event.equals(e._id))]._id %>">Continue</a>
                    <% } else { %>
                      <form action="/users/<%= user._id %>/events/<%= e._id %>/rounds/new" method="POST">
                        <p>You haven't started your scorecard</p>
                        <button type="submit" class="btn btn-success d-inline-block">Start Scorecard</button>
                      </form>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</body>
</html>
