<table id='scorecard'>
  <tr>
    <td>Hole</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>F</td>
  </tr>
  <tr>
    <td>Par</td>
    <td><%= e.coursePars[0] %></td>
    <td><%= e.coursePars[1] %></td>
    <td><%= e.coursePars[2] %></td>
    <td><%= e.coursePars[3] %></td>
    <td><%= e.coursePars[4] %></td>
    <td><%= e.coursePars[5] %></td>
    <td><%= e.coursePars[6] %></td>
    <td><%= e.coursePars[7] %></td>
    <td><%= e.coursePars[8] %></td>
    <td><%= e.coursePars.slice(0,9).reduce((sum,p) => {return sum + p}) %></td>
  </tr>
</table>